# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
barrett_reduction_constants
barrett_reduction_test
crc32_bench
crc32_constants
crc32_constants.h
crc32_stress
crc32_test
final_fold2_constants
final_fold2_test
final_fold_constants
final_fold_test
slice_by_8_bench
vec_barrett_reduction_test
vec_final_fold_test
vec_final_fold2_test
vec_crc32_test
vec_crc32_bench
